VITE_API_URL=http://localhost:5000

VITE_SPOONACULAR_KEY=YOUR_SPOONACULAR_KEY

MONGO_URI=YOUR_MONGO_URI

JWT_SECRET=YOUR_JWT_SECRET

RESEND_API_KEY=YOUR_RESEND_KEY

GMAIL_USER=YOUR_EMAIL

GMAIL_PASS=YOUR_APP_PASSWORD

FRONTEND_URL=http://localhost:5173